$theme-switcher-enabled: false !default;

#theme-switcher {
	display: if($theme-switcher-enabled, flex, none);
}

#language-switcher:checked ~ #language-modal {
	display: flex;
}

#low-contrast {
	&:not(:checked) ~ * {
		#theme-low-contrast {
			display: none;
		}
	}
	&:checked ~ * {
		filter: brightness(70%) contrast(90%) saturate(90%);

		#theme-low-contrast {
			display: block;
		}

		#theme-normal-contrast {
			display: none;
		}
	}
}

#toggle-navbar:checked ~ {
	section,
	nav .navbar-menu {
		display: block;
	}
}
#toggle-sidebar:checked ~ div .sidebar {
	display: block !important;
}
