$theme-switcher-enabled: false !default;
$low-contrast-switch-enabled: false !default;

#theme-switcher {
	display: if($theme-switcher-enabled, flex, none);
}

#language-switcher:checked ~ #language-modal {
	display: flex;
}

#low-contrast {
	&:not(:checked) ~ * {
		#theme-low-contrast {
			display: none;
		}
	}
	&:checked ~ * {
		filter: brightness(70%) contrast(90%) saturate(90%);

		#theme-low-contrast {
			display: block;
		}

		#theme-normal-contrast {
			display: none;
		}
	}
}

#toggle-navbar:checked ~ {
	section,
	nav .navbar-menu {
		display: block;
	}
}
#toggle-sidebar:checked ~ div .sidebar {
	display: block !important;
}

label[for="low-contrast"] {
	display: if($low-contrast-switch-enabled, flex, none);
}

@if $low-contrast-switch-enabled {
	/* For the low-contrast peeps out there, we'll do some filtering. Best we can do for now. */
	@media (prefers-contrast: less) {
		// This is not an error, your editor is just wrong.
		body > * {
			filter: brightness(70%) contrast(90%) saturate(90%);
		}

		label[for="low-contrast"] {
			display: none !important;
		}
	}
}
