@import "../util/funcs";

.button {
	@each $name, $colors in $brand-colors {
		$background-color: nth($colors, 1);
		$text-color: nth($colors, 2);
		$active-color: nth($colors, 3);
		$border-color: nth-or($colors, 4, $background-color);
		$active-border-color: nth-or($colors, 5, $active-color);

		&.is-#{$name} {
			background-color: $background-color;
			border-color: $border-color;
			color: $text-color;

			&:hover,
			&:active {
				background-color: $active-color;
				border-color: $active-color;
			}
		}
	}
}
