@import "../util/funcs.scss";

$button-colors: (
	// name: background-color text-color active-color (border-color) (active-border-color)
	discord: $blurple $white $blurple-dark,
	twitter: $twitter-blue $white $twitter-blue-dark,
	mastodon: $mastodon-blue $white $mastodon-blue-dark,
	gradle: $gradle-blue $white $gradle-blue-dark,
	github: $white $black $grey-lightest transparent,
	rss: $rss $white $rss-dark
);
@if variable-exists("custom-button-colors") {
	$button-colors: map-merge($button-colors, $custom-button-colors);
}

.button {
	@each $name, $colors in $button-colors {
		$background-color: nth($colors, 1);
		$text-color: nth($colors, 2);
		$active-color: nth($colors, 3);
		$border-color: nth-or($colors, 4, $background-color);
		$active-border-color: nth-or($colors, 5, $active-color);

		&.is-#{$name} {
			background-color: $background-color;
			border-color: $border-color;
			color: $text-color;

			&:hover,
			&:active {
				background-color: $active-color;
				border-color: $active-color;
			}
		}
	}
}
