@import url("https://fonts.bunny.net/css?family=atkinson-hyperlegible:400,700|ibm-plex-mono:400|poppins:500,700");

$family-sans-serif: "Atkinson Hyperlegible";
$family-primary: "Atkinson Hyperlegible";
$family-secondary: "Atkinson Hyperlegible";
$family-code: "IBM Plex Mono";
$family-monospace: "IBM Plex Mono";
